In [8]:
import pandas as pd
import csv

insight_HP3_RAD1 = pd.read_csv('D:/NCI - Database and Analytical Programming/Project/InSight_HP3_and_RAD1.csv')
rad1df = pd.DataFrame(insight_HP3_RAD1)

In [9]:
rad1df['Spacecraft_Clock_time'].astype(str)

0        2018-12-11T07:30:42.598Z
1        2018-12-11T07:30:57.240Z
2        2018-12-11T07:31:11.882Z
3        2018-12-11T07:31:26.523Z
4        2018-12-11T07:31:41.165Z
5        2018-12-11T07:31:55.807Z
6        2018-12-11T07:32:10.448Z
7        2018-12-11T07:32:25.090Z
8        2018-12-11T07:32:39.732Z
9        2018-12-11T07:32:54.373Z
10       2018-12-11T07:33:09.015Z
11       2018-12-11T07:33:23.657Z
12       2018-12-11T07:33:38.298Z
13       2018-12-11T07:33:52.940Z
14       2018-12-11T07:34:07.582Z
15       2018-12-11T07:34:22.223Z
16       2018-12-11T07:34:36.865Z
17       2018-12-11T07:34:51.507Z
18       2018-12-11T07:35:06.148Z
19       2018-12-11T07:35:20.790Z
20       2018-12-11T07:35:35.432Z
21       2018-12-11T07:35:50.073Z
22       2018-12-11T07:36:04.715Z
23       2018-12-11T08:32:22.632Z
24       2018-12-11T08:32:37.274Z
25       2018-12-11T08:32:51.915Z
26       2018-12-11T08:33:06.557Z
27       2018-12-11T08:33:21.199Z
28       2018-12-11T08:33:35.840Z
29       2018-12-11T08:33:50.482Z
                   ...
75876    2019-03-31T22:32:53.930Z
75877    2019-03-31T22:33:08.572Z
75878    2019-03-31T22:33:23.214Z
75879    2019-03-31T22:33:37.855Z
75880    2019-03-31T22:33:52.497Z
75881    2019-03-31T22:34:07.139Z
75882    2019-03-31T22:34:21.780Z
75883    2019-03-31T23:30:39.827Z
75884    2019-03-31T23:30:54.470Z
75885    2019-03-31T23:31:09.111Z
75886    2019-03-31T23:31:23.753Z
75887    2019-03-31T23:31:38.395Z
75888    2019-03-31T23:31:53.036Z
75889    2019-03-31T23:32:07.678Z
75890    2019-03-31T23:32:22.320Z
75891    2019-03-31T23:32:36.961Z
75892    2019-03-31T23:32:51.603Z
75893    2019-03-31T23:33:06.245Z
75894    2019-03-31T23:33:20.886Z
75895    2019-03-31T23:33:35.528Z
75896    2019-03-31T23:33:50.170Z
75897    2019-03-31T23:34:04.811Z
75898    2019-03-31T23:34:19.453Z
75899    2019-03-31T23:34:34.095Z
75900    2019-03-31T23:34:48.736Z
75901    2019-03-31T23:35:03.378Z
75902    2019-03-31T23:35:18.020Z
75903    2019-03-31T23:35:32.661Z
75904    2019-03-31T23:35:47.303Z
75905    2019-03-31T23:36:01.945Z
Name: Spacecraft_Clock_time, Length: 75906, dtype: object

In [10]:
rad1df['Spacecraft_Clock_time'] = pd.to_datetime(rad1df["Spacecraft_Clock_time"], format="%Y-%m-%dT%H:%M:%S.%fZ")
rad1df['dayofyear']=rad1df['Spacecraft_Clock_time'].dt.dayofyear

In [11]:
cols = list(rad1df.columns)
cols = [cols[-1]] + cols[:-1]
rad1df = rad1df[cols]

In [12]:
rad1df = rad1df.drop(rad1df.columns[[1,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]],axis = 1)

In [13]:
rad1df

       dayofyear  Sol  Mars True Local Solar Time  Solar_Longitude_LS
0            345   14                     15.8856              304.29
1            345   14                     15.8894              304.29
2            345   14                     15.8936              304.29
3            345   14                     15.8975              304.29
4            345   14                     15.9014              304.29
5            345   14                     15.9053              304.29
6            345   14                     15.9094              304.29
7            345   14                     15.9133              304.29
8            345   14                     15.9172              304.29
9            345   14                     15.9211              304.29
10           345   14                     15.9253              304.29
11           345   14                     15.9292              304.29
12           345   14                     15.9331              304.29
13           345   14                     15.9369              304.29
14           345   14                     15.9411              304.29
15           345   14                     15.9450              304.29
16           345   14                     15.9489              304.29
17           345   14                     15.9528              304.29
18           345   14                     15.9569              304.29
19           345   14                     15.9608              304.29
20           345   14                     15.9647              304.29
21           345   14                     15.9686              304.29
22           345   14                     15.9728              304.29
23           345   14                     16.8856              304.32
24           345   14                     16.8894              304.32
25           345   14                     16.8936              304.32
26           345   14                     16.8975              304.32
27           345   14                     16.9014              304.32
28           345   14                     16.9053              304.32
29           345   14                     16.9094              304.32
...          ...  ...                         ...                 ...
75876         90  122                      7.9650                4.17
75877         90  122                      7.9692                4.17
75878         90  122                      7.9731                4.17
75879         90  122                      7.9769                4.17
75880         90  122                      7.9808                4.17
75881         90  122                      7.9850                4.17
75882         90  122                      7.9889                4.17
75883         90  122                      8.9022                4.19
75884         90  122                      8.9064                4.19
75885         90  122                      8.9103                4.19
75886         90  122                      8.9142                4.19
75887         90  122                      8.9181                4.19
75888         90  122                      8.9222                4.19
75889         90  122                      8.9261                4.19
75890         90  122                      8.9300                4.19
75891         90  122                      8.9339                4.19
75892         90  122                      8.9381                4.19
75893         90  122                      8.9419                4.19
75894         90  122                      8.9458                4.19
75895         90  122                      8.9497                4.19
75896         90  122                      8.9539                4.19
75897         90  122                      8.9578                4.19
75898         90  122                      8.9617                4.19
75899         90  122                      8.9656                4.19
75900         90  122                      8.9697                4.19
75901         90  122                      8.9736                4.19
75902         90  122                      8.9775                4.19
75903         90  122                      8.9814                4.19
75904         90  122                      8.9856                4.19
75905         90  122                      8.9894                4.19

[75906 rows x 4 columns]

In [14]:
insight_HP3_RAD2 = pd.read_csv('D:/NCI - Database and Analytical Programming/Project/InSight_HP3_and_RAD2.csv')
rad2df = pd.DataFrame(insight_HP3_RAD2)

In [16]:
rad2df['Spacecraft Clock time'].astype(str)

0        2019-04-01T00:32:17.929Z
1        2019-04-01T00:32:32.570Z
2        2019-04-01T00:32:47.212Z
3        2019-04-01T00:33:01.854Z
4        2019-04-01T00:33:16.495Z
5        2019-04-01T00:33:31.137Z
6        2019-04-01T00:33:45.779Z
7        2019-04-01T00:34:00.420Z
8        2019-04-01T00:34:15.062Z
9        2019-04-01T00:34:29.704Z
10       2019-04-01T00:34:44.345Z
11       2019-04-01T00:34:58.987Z
12       2019-04-01T00:35:13.629Z
13       2019-04-01T00:35:28.270Z
14       2019-04-01T00:35:42.912Z
15       2019-04-01T00:35:57.554Z
16       2019-04-01T00:36:12.195Z
17       2019-04-01T00:36:26.837Z
18       2019-04-01T00:36:41.479Z
19       2019-04-01T00:36:56.120Z
20       2019-04-01T00:37:10.762Z
21       2019-04-01T00:37:25.404Z
22       2019-04-01T00:37:40.046Z
23       2019-04-01T01:33:58.093Z
24       2019-04-01T01:34:12.735Z
25       2019-04-01T01:34:27.376Z
26       2019-04-01T01:34:42.018Z
27       2019-04-01T01:34:56.660Z
28       2019-04-01T01:35:11.301Z
29       2019-04-01T01:35:25.943Z
                   ...
42005    2019-06-23T06:36:42.810Z
42006    2019-06-23T06:36:57.451Z
42007    2019-06-23T06:37:12.093Z
42008    2019-06-23T06:37:26.735Z
42009    2019-06-23T06:37:41.376Z
42010    2019-06-23T06:37:56.018Z
42011    2019-06-23T06:38:10.660Z
42012    2019-06-23T07:34:28.666Z
42013    2019-06-23T07:34:43.308Z
42014    2019-06-23T07:34:57.950Z
42015    2019-06-23T07:35:12.591Z
42016    2019-06-23T07:35:27.233Z
42017    2019-06-23T07:35:41.875Z
42018    2019-06-23T07:35:56.516Z
42019    2019-06-23T07:36:11.158Z
42020    2019-06-23T07:36:25.800Z
42021    2019-06-23T07:36:40.441Z
42022    2019-06-23T07:36:55.083Z
42023    2019-06-23T07:37:09.725Z
42024    2019-06-23T07:37:24.366Z
42025    2019-06-23T07:37:39.008Z
42026    2019-06-23T07:37:53.650Z
42027    2019-06-23T07:38:08.291Z
42028    2019-06-23T07:38:22.933Z
42029    2019-06-23T07:38:37.575Z
42030    2019-06-23T07:38:52.216Z
42031    2019-06-23T07:39:06.858Z
42032    2019-06-23T07:39:21.500Z
42033    2019-06-23T07:39:36.141Z
42034    2019-06-23T07:39:50.783Z
Name: Spacecraft Clock time, Length: 42035, dtype: object

In [17]:
rad2df['Spacecraft Clock time'] = pd.to_datetime(rad2df["Spacecraft Clock time"], format="%Y-%m-%dT%H:%M:%S.%fZ")
rad2df['dayofyear']=rad2df['Spacecraft Clock time'].dt.dayofyear

In [18]:
cols = list(rad2df.columns)
cols = [cols[-1]] + cols[:-1]
rad2df = rad2df[cols]

In [19]:
rad2df = rad2df.drop(rad2df.columns[[1,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]],axis = 1)

In [20]:
rad2df

       dayofyear  Sol  Mars True Local Solar Time  Solar Longitude LS
0             91  122                      9.9022                4.21
1             91  122                      9.9064                4.21
2             91  122                      9.9103                4.21
3             91  122                      9.9142                4.21
4             91  122                      9.9181                4.21
5             91  122                      9.9222                4.21
6             91  122                      9.9261                4.21
7             91  122                      9.9300                4.21
8             91  122                      9.9339                4.21
9             91  122                      9.9381                4.21
10            91  122                      9.9419                4.21
11            91  122                      9.9458                4.21
12            91  122                      9.9497                4.21
13            91  122                      9.9539                4.21
14            91  122                      9.9578                4.21
15            91  122                      9.9617                4.21
16            91  122                      9.9656                4.21
17            91  122                      9.9697                4.21
18            91  122                      9.9736                4.21
19            91  122                      9.9775                4.21
20            91  122                      9.9814                4.21
21            91  122                      9.9856                4.21
22            91  122                      9.9894                4.21
23            91  122                     10.9028                4.23
24            91  122                     10.9069                4.23
25            91  122                     10.9108                4.23
26            91  122                     10.9147                4.23
27            91  122                     10.9186                4.23
28            91  122                     10.9228                4.23
29            91  122                     10.9267                4.23
...          ...  ...                         ...                 ...
42005        174  203                     10.9956               43.08
42006        174  203                     10.9994               43.08
42007        174  203                     11.0033               43.08
42008        174  203                     11.0075               43.08
42009        174  203                     11.0114               43.08
42010        174  203                     11.0153               43.08
42011        174  203                     11.0192               43.08
42012        174  203                     11.9328               43.10
42013        174  203                     11.9367               43.10
42014        174  203                     11.9406               43.10
42015        174  203                     11.9447               43.10
42016        174  203                     11.9486               43.10
42017        174  203                     11.9525               43.10
42018        174  203                     11.9564               43.10
42019        174  203                     11.9606               43.10
42020        174  203                     11.9644               43.10
42021        174  203                     11.9683               43.10
42022        174  203                     11.9722               43.10
42023        174  203                     11.9764               43.10
42024        174  203                     11.9803               43.10
42025        174  203                     11.9842               43.10
42026        174  203                     11.9881               43.10
42027        174  203                     11.9922               43.10
42028        174  203                     11.9961               43.10
42029        174  203                     12.0000               43.10
42030        174  203                     12.0039               43.10
42031        174  203                     12.0081               43.10
42032        174  203                     12.0119               43.10
42033        174  203                     12.0158               43.10
42034        174  203                     12.0197               43.10

[42035 rows x 4 columns]

In [26]:
rad2df.rename(columns={'Solar Longitude LS':'Solar_Longitude_LS'}, inplace = True)
rad2df

       dayofyear  Sol  Mars True Local Solar Time  Solar_Longitude_LS
0             91  122                      9.9022                4.21
1             91  122                      9.9064                4.21
2             91  122                      9.9103                4.21
3             91  122                      9.9142                4.21
4             91  122                      9.9181                4.21
5             91  122                      9.9222                4.21
6             91  122                      9.9261                4.21
7             91  122                      9.9300                4.21
8             91  122                      9.9339                4.21
9             91  122                      9.9381                4.21
10            91  122                      9.9419                4.21
11            91  122                      9.9458                4.21
12            91  122                      9.9497                4.21
13            91  122                      9.9539                4.21
14            91  122                      9.9578                4.21
15            91  122                      9.9617                4.21
16            91  122                      9.9656                4.21
17            91  122                      9.9697                4.21
18            91  122                      9.9736                4.21
19            91  122                      9.9775                4.21
20            91  122                      9.9814                4.21
21            91  122                      9.9856                4.21
22            91  122                      9.9894                4.21
23            91  122                     10.9028                4.23
24            91  122                     10.9069                4.23
25            91  122                     10.9108                4.23
26            91  122                     10.9147                4.23
27            91  122                     10.9186                4.23
28            91  122                     10.9228                4.23
29            91  122                     10.9267                4.23
...          ...  ...                         ...                 ...
42005        174  203                     10.9956               43.08
42006        174  203                     10.9994               43.08
42007        174  203                     11.0033               43.08
42008        174  203                     11.0075               43.08
42009        174  203                     11.0114               43.08
42010        174  203                     11.0153               43.08
42011        174  203                     11.0192               43.08
42012        174  203                     11.9328               43.10
42013        174  203                     11.9367               43.10
42014        174  203                     11.9406               43.10
42015        174  203                     11.9447               43.10
42016        174  203                     11.9486               43.10
42017        174  203                     11.9525               43.10
42018        174  203                     11.9564               43.10
42019        174  203                     11.9606               43.10
42020        174  203                     11.9644               43.10
42021        174  203                     11.9683               43.10
42022        174  203                     11.9722               43.10
42023        174  203                     11.9764               43.10
42024        174  203                     11.9803               43.10
42025        174  203                     11.9842               43.10
42026        174  203                     11.9881               43.10
42027        174  203                     11.9922               43.10
42028        174  203                     11.9961               43.10
42029        174  203                     12.0000               43.10
42030        174  203                     12.0039               43.10
42031        174  203                     12.0081               43.10
42032        174  203                     12.0119               43.10
42033        174  203                     12.0158               43.10
42034        174  203                     12.0197               43.10

[42035 rows x 4 columns]

In [31]:
frame = [rad1df, rad2df]
LS_table = pd.concat([rad1df, rad2df], ignore_index=True,sort=False)

In [33]:
LS_table.to_csv('Mars_Longitude.csv', index = False)

In [34]:
LS_table

,Mars True Local Solar Time,Sol,Solar Longitude LS,Solar_Longitude_LS,dayofyear
0,15.8856,14,NaN,304.29,345
1,15.8894,14,NaN,304.29,345
2,15.8936,14,NaN,304.29,345
3,15.8975,14,NaN,304.29,345
4,15.9014,14,NaN,304.29,345
5,15.9053,14,NaN,304.29,345
6,15.9094,14,NaN,304.29,345
7,15.9133,14,NaN,304.29,345
8,15.9172,14,NaN,304.29,345
9,15.9211,14,NaN,304.29,345
10,15.9253,14,NaN,304.29,345
11,15.9292,14,NaN,304.29,345
12,15.9331,14,NaN,304.29,345
13,15.9369,14,NaN,304.29,345
14,15.9411,14,NaN,304.29,345
15,15.9450,14,NaN,304.29,345
16,15.9489,14,NaN,304.29,345
17,15.9528,14,NaN,304.29,345
18,15.9569,14,NaN,304.29,345
19,15.9608,14,NaN,304.29,345
20,15.9647,14,NaN,304.29,345
21,15.9686,14,NaN,304.29,345
22,15.9728,14,NaN,304.29,345
23,16.8856,14,NaN,304.32,345
24,16.8894,14,NaN,304.32,345
25,16.8936,14,NaN,304.32,345
26,16.8975,14,NaN,304.32,345
27,16.9014,14,NaN,304.32,345
28,16.9053,14,NaN,304.32,345
29,16.9094,14,NaN,304.32,345
...,...,...,...,...,...
159946,10.9956,203,NaN,43.08,174
159947,10.9994,203,NaN,43.08,174
159948,11.0033,203,NaN,43.08,174
159949,11.0075,203,NaN,43.08,174
159950,11.0114,203,NaN,43.08,174
159951,11.0153,203,NaN,43.08,174
159952,11.0192,203,NaN,43.08,174
159953,11.9328,203,NaN,43.10,174
159954,11.9367,203,NaN,43.10,174
159955,11.9406,203,NaN,43.10,174
159956,11.9447,203,NaN,43.10,174
159957,11.9486,203,NaN,43.10,174
159958,11.9525,203,NaN,43.10,174
159959,11.9564,203,NaN,43.10,174
159960,11.9606,203,NaN,43.10,174
159961,11.9644,203,NaN,43.10,174
159962,11.9683,203,NaN,43.10,174
159963,11.9722,203,NaN,43.10,174
159964,11.9764,203,NaN,43.10,174
159965,11.9803,203,NaN,43.10,174
159966,11.9842,203,NaN,43.10,174
159967,11.9881,203,NaN,43.10,174
159968,11.9922,203,NaN,43.10,174
159969,11.9961,203,NaN,43.10,174
159970,12.0000,203,NaN,43.10,174
159971,12.0039,203,NaN,43.10,174
159972,12.0081,203,NaN,43.10,174
159973,12.0119,203,NaN,43.10,174
159974,12.0158,203,NaN,43.10,174
159975,12.0197,203,NaN,43.10,174

In [29]:
LS_table = table.drop(table.columns[[2]],axis = 1)

In [30]:
LS_table

        Mars True Local Solar Time  Sol  Solar_Longitude_LS  dayofyear
0                          15.8856   14              304.29        345
1                          15.8894   14              304.29        345
2                          15.8936   14              304.29        345
3                          15.8975   14              304.29        345
4                          15.9014   14              304.29        345
5                          15.9053   14              304.29        345
6                          15.9094   14              304.29        345
7                          15.9133   14              304.29        345
8                          15.9172   14              304.29        345
9                          15.9211   14              304.29        345
10                         15.9253   14              304.29        345
11                         15.9292   14              304.29        345
12                         15.9331   14              304.29        345
13                         15.9369   14              304.29        345
14                         15.9411   14              304.29        345
15                         15.9450   14              304.29        345
16                         15.9489   14              304.29        345
17                         15.9528   14              304.29        345
18                         15.9569   14              304.29        345
19                         15.9608   14              304.29        345
20                         15.9647   14              304.29        345
21                         15.9686   14              304.29        345
22                         15.9728   14              304.29        345
23                         16.8856   14              304.32        345
24                         16.8894   14              304.32        345
25                         16.8936   14              304.32        345
26                         16.8975   14              304.32        345
27                         16.9014   14              304.32        345
28                         16.9053   14              304.32        345
29                         16.9094   14              304.32        345
...                            ...  ...                 ...        ...
159946                     10.9956  203               43.08        174
159947                     10.9994  203               43.08        174
159948                     11.0033  203               43.08        174
159949                     11.0075  203               43.08        174
159950                     11.0114  203               43.08        174
159951                     11.0153  203               43.08        174
159952                     11.0192  203               43.08        174
159953                     11.9328  203               43.10        174
159954                     11.9367  203               43.10        174
159955                     11.9406  203               43.10        174
159956                     11.9447  203               43.10        174
159957                     11.9486  203               43.10        174
159958                     11.9525  203               43.10        174
159959                     11.9564  203               43.10        174
159960                     11.9606  203               43.10        174
159961                     11.9644  203               43.10        174
159962                     11.9683  203               43.10        174
159963                     11.9722  203               43.10        174
159964                     11.9764  203               43.10        174
159965                     11.9803  203               43.10        174
159966                     11.9842  203               43.10        174
159967                     11.9881  203               43.10        174
159968                     11.9922  203               43.10        174
159969                     11.9961  203               43.10        174
159970                     12.0000  203               43.10        174
159971                     12.0039  203               43.10        174
159972                     12.0081  203               43.10        174
159973                     12.0119  203               43.10        174
159974                     12.0158  203               43.10        174
159975                     12.0197  203               43.10        174

[159976 rows x 4 columns]

In [35]:
LS_table.dtypes

Mars True Local Solar Time    float64
Sol                             int64
Solar Longitude LS            float64
Solar_Longitude_LS            float64
dayofyear                       int64
dtype: object